<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUFzTH4jCj_rAa2oBBSQoFIRy980oVIJE</string>
	<key>GCM_SENDER_ID</key>
	<string>929764628274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qikun.minaai</string>
	<key>PROJECT_ID</key>
	<string>mina-4a6fa</string>
	<key>STORAGE_BUCKET</key>
	<string>mina-4a6fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929764628274:ios:39f7f2e14c04b9a754292b</string>
</dict>
</plist>